# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Local files
*.pdf
OllamaSetup.exe

chroma_langchain_db/
chroma.sqlite
66e97c39-55ad-4e79-aa45-dd2781a9c128/
Live Streaming Platform User Guide.pdf
*.exe
venv/
.env